# I Premiers pas avec Python

Python est un langage de programmation. Il permet de spécifier à une machine ce qu'elle doit faire dans un langage qu'elle peut interpréter.

Ici, vous pourrez tester vos premières instructions en Python. Pour exécuter une instruction ou un bloc de plusieurs instructions, vous pouvez, soit cliquer sur le bouton Exécuter au-dessus du texte, soit appuyer sur les touches `Shift+Entrée`.

Testons tout de suite !

In [ ]:
print("Bonjour !")

Comme vous le voyez, la machine a interprété l'instruction qui lui demandait d'afficher le texte `Bonjour !`.
Exécutez maintenant le code ci-desous.

In [ ]:
# print("Bonjour !")

***Pourquoi ne se passe-t-il rien ?***

Parce que le symbole `#` (dièse) en début de ligne a indiqué à la machine que cette ligne était un ***commentaire*** et ne devait donc pas être prise en compte. C'est le cas de tout ce qui se trouve après `#`
Par exemple, exécutez ceci :

In [ ]:
print("Bonjour !") # Cette ligne sera bien exécutée, mais tout ce qui se trouve avec la dièse non
# print("Rien ne sera exécuté à cette ligne car c'est un commentaire.")

Les commentaires servent à l'utilisateur humain qui lit le code afin qu'il soit plus clair, mais ne doit jamais être exécuté par la machine.

En Python, `print` permet d'afficher quelque chose à l'utilisateur humain. On peut afficher plusieurs éléments en les séparant par des virgules.

In [ ]:
print("J'ai affiché", 3, "choses.")

On peut faire bien plus que ça !

## A) Les variables

Une variable est un espace dans la mémoire de la machine qui dispose d'un nom.
On peut lui assigner différentes valeurs que l'on pourra ensuite utiliser ou modifier.

In [ ]:
# Créons une variable nommée nombre qui contient la valeur 5
nombre = 5
print(nombre)

En Python, on crée une variable en lui assignant une valeur avec la syntaxe suivante : `nom_de_variable = valeur`

Le nom de la variable ne doit pas commencer par un chiffre, et elle ne doit pas comporter d'espace (on utilise _ à la place). La casse (majuscule ou minuscule) est prise en compte.

In [ ]:
nombre = 5
Nombre = 7
print(nombre)
print(Nombre) # Il s'agit bien de deux variables différentes

On peut changer la valeur d'une variable en utilisant le symbole `=` à n'importe quel moment.

In [ ]:
nombre = 5
print(nombre)
nombre = 8
print(nombre)

In [ ]:
nombre = 5
print(nombre)
nombre = nombre + 4 # Dans la variable nombre, je dépose le résultat de l'opération (nombre + 4)
print(nombre)

## B) Types de variables

Les variables peuvent être de plusieurs types différents. Ce type est la nature de la valeur qu'elle contient.
Dans nos exemples, la variable nombre était de type nombre entier.

La langue anglaise dominant l'informatique, on utilisera ses appellations. Un nombre entier se dit en anglais integer, on dira donc que la variable nombre était de type int.

In [ ]:
print(type(nombre))
# Ceci nous affichera le type de la variable nombre, ici int pour integer signifiant nombre entier

Il y a de nombreux types différents mais nous en regarderons pour l'instant trois, abrégés en int, str et float.

`int` : de l'anglais integer pour nombre entier ;

`str` : de l'anglais string pour une chaîne de caractères, du texte ;

`float` : de l'anglais floating point pour nombre à virgule flottante, un nombre à virgule.

***ATTENTION !!!***

Puisqu'on utilise la langue anglaise comme norme, les nombres à virgules sont notés avec un point et non une virgule : `2.5` et non pas `2,5`

In [ ]:
nombre = 5
virgule = 2.5
texte = "Bonjour !"
print(type(nombre), type(virgule), type(texte))

Comme vous le voyez pour écrire du texte, on le met entre guillemets.

On peut aussi le mettre entre apostrophes.

In [ ]:
t = "Bonjour !"
print(t)
t = 'Bonjour !'
print(t)

## C) Opérations

On peut utiliser Python de façon basique pour faire des opérations.

In [ ]:
a = 5
b = 6
print(a+b)

In [ ]:
print(a-b)

In [ ]:
print(a*b)

In [ ]:
print(a/b)

En plus de la simple division, il existe deux opérations liées : la division entière `//` et le reste `%`.

In [ ]:
a = 17
b = 5
print(a, "divisé par", b, "vaut", a//b, "et il reste", a%b)
print(a//b, "*", b, "+", a%b, "=", a)

Sur les `str` (le texte), on peut utiliser des opérations comme `+` et `*`.

In [ ]:
texte_1 = "Début, "
texte_2 = "milieu"
texte_3 = " et fin."
texte = texte_1 + texte_2 + texte_3
print(texte)

On appelle cette opération de coller deux chaînes de caractères l'une à l'autre une ***concaténation***.

In [ ]:
t = "Je suis du texte."
t_10 = t*10
print(t_10)

Dans le texte, il y a des caractères spéciaux pour indiquer certaines choses. Par exemple, pour indiquer un retour à la ligne, on utilise `\n`.

In [ ]:
t = "Je suis du texte.\n"
t_10 = t*10
print(t_10)

### Exercices

In [ ]:
# Exercice I.C.1
# Affichez 100 fois de suite la phrase : Mon premier exercice en Python !
# suivi d'un saut de ligne.
# APPELEZ ENSUITE L'ENSEIGNANT.

# Votre code :

In [ ]:
# Exercice I.C.2
# Voici plusieurs variables :
a = 56     # de type...
b = 2.76   # de type...
c = "5"    # de type...
d = "4,7"  # de type...
e = 5,3    # de type...
# Dans chaque cas, complétez le commentaire pour indiquer leur type
# On pourra utiliser l'instruction type
# APPELEZ ENSUITE L'ENSEIGNANT.

In [ ]:
# Exercice I.C.3
# Si j'effectue cette instruction, pourquoi me renvoie-t-on une erreur ?
print("5" + 3)
# Votre réponse :

In [ ]:
# Exercice I.C.4
# Un nombre a est divisible par un nombre b si le reste de la division entière de a par b vaut 0
# En utilisant l'opération %, complétez les commentaires de chaque ligne
n1 = 7   # divisible par ...
n2 = 24  # divisible par ...
n3 = 91  # divisible par ...
n4 = 9   # divisible par ...
n5 = 126 # divisible par ...
# Votre code :

## D) Conversions

On peut convertir un type vers un autre, dans certains cas seulement.

On peut par exemple convertir le nombre `3` en un texte `"3"`, mais on ne peut pas convertir `"Bonjour !"` en nombre.

In [ ]:
a = 5 # Ici a est un nombre, int
print(a*3)
a = "5" # Ici a est un texte, str
print(a*3)
a = 5
t = str(a) # on convertit a en str et on dépose ça dans la variable t
print(t*3)

In [ ]:
t = "3"
print(t*2) # Ici t est un texte, str
print(int(t)*2) # Ici t est converti en nombre entier, int

In [ ]:
print(float(3)) # on peut aussi convertir 3 en nombre à virgule, float
print(int(3.5)) # ou convertir un nombre à virgule en nombre entier, int

In [ ]:
print(int("trois")) # on ne peut pas convertir un texte comportant des lettres en nombre

In [ ]:
print(float("3.5"))

In [ ]:
print(int("3.5")) # avec étonnement ce code ne fonctionne pas

In [ ]:
print(int(float("3.5"))) # on convertit d'abord le texte en float, puis après en int

### Exercices

In [ ]:
# Exercice I.D.1
# Utilisez les bonnes conversions sur le nombre 3 pour afficher un texte valide
texte = "J'ai converti le nombre entier " + 3 + " en un nombre à virgule : " + 3 + "."
print(texte)

### Aller plus loin

On peut également utiliser ce qu'on appelle communnément les `f-strings` pour insérer des valeurs ou des variables dans du texte.

In [ ]:
# Sans f-string :
n = 2.14
texte = "La constante pi vaut environ " + str(n) + "."
print(texte)

In [ ]:
# Avec un f-string :
n = 2.14
texte = f"La constante pi vaut environ {n}."
# on met entre accolades {} les variables ou les calculs
print(texte)

Réécrivez les codes ci-dessous avec des f-strings.

In [ ]:
# Exercice I.D.2
nom = "SMITH"
prenom = "John"
age = 17
print(prenom + " " + nom + " a " + str(age) + " ans.")
# Votre code :
print(f"")

In [ ]:
# Exercice I.D.3
destinataire = "John SMITH"
expediteur = "John DOE"
contenu = "Tu as bien reçu ma lettre ?\nRéponds-moi vite."
print("\tBonjour " + destinataire + ",\n" + contenu + "\n\tCordialement, " + expediteur + ".")
# Le caractère \n est un saut de ligne. Le caractère \t est une tabulation (espace large).
# Votre code :

In [ ]:
# Exercice I.D.4
a = 17
b = 5
print(str(a) + " divisé par " + str(b) + " vaut " + str(a//b) + " et il reste " + str(a%b) + ".")
# Votre code :